XML/Ejercicios/Relación_Final_ejercicios.xml/banco_lorca.dtd

<!ELEMENT banco (sucursal+)>
<!ELEMENT sucursal (cuenta+)>
<!ELEMENT cuenta (cliente+)>
<!ELEMENT cliente (nombre, apellidos, nivel,  prestamo*)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT prestamo (#PCDATA)>
<!ELEMENT nivel (#PCDATA)>

<!ATTLIST sucursal cod ID #REQUIRED>
<!ATTLIST cuenta cod_cuenta ID #REQUIRED>
<!ATTLIST cliente nif ID #REQUIRED>
